---
import "~/pages/main.css";

import projects from "~/data/project";

import Seo from "~/components/Seo.astro";
import ProjectSection from "~/components/project-section.astro";
import Footer from "~/components/footer.astro";

const newbieProject = projects.filter((p) => p.difficulty === 1);
const juniorProject = projects.filter((p) => p.difficulty === 2);
const intermediateProject = projects.filter((p) => p.difficulty === 3);
const advancedProject = projects.filter((p) => p.difficulty === 4);
const guruProject = projects.filter((p) => p.difficulty === 5);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo />
  </head>
  <body class="font-barlow">
    <section id="hero" class="relative w-full">
      <div
        class="w-full max-w-7xl mx-auto flex flex-col items-center justify-center gap-3 px-6 py-24"
      >
        <img
          src="assets/logo-desktop.svg"
          alt="Frontend Mentor Logo"
          class="rounded-full bg-cover bg-center h-12"
        />
        <h1 class="text-xl text-center">
          Collection of Challenge i took from <a
            href="https://www.frontendmentor.io/"
            class="underline font-medium">Frontendmentor.io</a
          >
        </h1>
      </div>
    </section>

    <section id="projects" class="flex flex-col gap-16 my-6">
      {
        newbieProject.length > 0 && (
          <ProjectSection level={1} data={newbieProject} />
        )
      }
      {
        juniorProject.length > 0 && (
          <ProjectSection level={2} data={juniorProject} />
        )
      }
      {
        intermediateProject.length > 0 && (
          <ProjectSection level={3} data={intermediateProject} />
        )
      }
      {
        advancedProject.length > 0 && (
          <ProjectSection level={4} data={advancedProject} />
        )
      }
      {
        guruProject.length > 0 && (
          <ProjectSection level={5} data={guruProject} />
        )
      }
    </section>

    <Footer />
  </body>
</html>
