---
interface Props {
  url: string;
  image: string;
  title: string;
}

const { url, image, title } = Astro.props;
---

<div class="card w-full max-w-96 shadow-xl bg-base-100 group">
  <figure class="overflow-hidden">
    <a href={url}>
      <img
        src={image}
        alt={`image of ${title}`}
        class="aspect-[4/3] object-cover group-hover:scale-125 transition duration-300"
      />
    </a>
  </figure>
  <div class="card-body">
    <a href={url} class="font-medium text-2xl group-hover:underline">{title}</a>
  </div>
</div>
