---
import ProjectLayout from "~/components/layouts/ProjectLayout.astro";

const projectDir = "/challenge/url-shortening-api-landing-page";

import BgBoostDesktop from "~/assets/challenge/url-shortening-api-landing-page/bg-boost-desktop.svg";
import BgBoostMobile from "~/assets/challenge/url-shortening-api-landing-page/bg-boost-mobile.svg";

import IconMenu from "~/assets/challenge/url-shortening-api-landing-page/icon-menu.svg";
import IconBrandRecognition from "~/assets/challenge/url-shortening-api-landing-page/icon-brand-recognition.svg";
import IconDetailedRecords from "~/assets/challenge/url-shortening-api-landing-page/icon-detailed-records.svg";
import IconFacebook from "~/assets/challenge/url-shortening-api-landing-page/icon-facebook.svg";
import IconFullyCustomizable from "~/assets/challenge/url-shortening-api-landing-page/icon-fully-customizable.svg";
import IconInstagram from "~/assets/challenge/url-shortening-api-landing-page/icon-instagram.svg";
import IconPinterest from "~/assets/challenge/url-shortening-api-landing-page/icon-pinterest.svg";
import IconTwitter from "~/assets/challenge/url-shortening-api-landing-page/icon-twitter.svg";

import IllustrationWorking from "~/assets/challenge/url-shortening-api-landing-page/illustration-working.svg";

import Logo from "~/assets/challenge/url-shortening-api-landing-page/logo.svg";
import ShortenIt from "./shorten-it";

const navMenus = ["Features", "Pricing", "Resources"];
---

<ProjectLayout
  title="URL shortening API landing page"
  image={projectDir + "/cover.png"}
  url={projectDir}
>
  <main class="font-poppins relative w-full overflow-x-hidden">
    <nav class="w-full relative">
      <div
        class="max-w-5xl mx-auto w-full py-9 px-6 flex items-center justify-between"
      >
        <div class="flex items-center gap-12">
          <img src={Logo.src} alt="logo" class="w-full h-auto" />
          <div
            class="hidden md:flex items-center gap-6 text-[hsl(0,0%,75%)] font-bold text-sm"
          >
            {
              navMenus.map((menu) => (
                <a
                  href="#"
                  class="hover:text-[hsl(255,11%,22%)] transition-colors duration-200"
                >
                  {menu}
                </a>
              ))
            }
          </div>
        </div>
        <div class="hidden md:flex items-center gap-6 text-sm font-bold">
          <a
            href="#"
            class="text-[hsl(0,0%,75%)] hover:text-[hsl(255,11%,22%)] transition-colors duration-200"
            >Login</a
          >
          <a
            href="#"
            class="text-white bg-[hsl(180,66%,49%)] rounded-full px-6 py-3 hover:bg-[hsla(180,66%,49%,50%)] transition-colors duration-200"
            >Signup</a
          >
        </div>
        <div class="inline md:hidden">
          <img
            id="icon-menu"
            src={IconMenu.src}
            alt="menu"
            class="w-8 h-auto cursor-pointer"
          />
        </div>
      </div>

      <div
        id="mobile-navigation"
        class="absolute top-full opacity-0 -z-50 w-full px-3 transition-all duration-200 md:hidden"
      >
        <div
          class="rounded-md flex flex-col bg-[hsl(257,27%,26%)] px-6 py-9 items-center"
        >
          {
            navMenus.map((menu) => (
              <a
                href="#"
                class="font-bold text-white text-sm hover:bg-[hsl(255,11%,22%)] transition-colors duration-200 w-full text-center py-3 rounded-md"
              >
                {menu}
              </a>
            ))
          }
          <div
            id="mobile-navigation-separator"
            class="bg-[hsl(255,11%,22%)] w-full h-px my-3"
          >
          </div>
          <a
            href="#"
            class="font-bold text-white text-sm hover:bg-[hsl(255,11%,22%)] transition-colors duration-200 w-full text-center py-3 rounded-md"
            >Login</a
          >
          <a
            href="#"
            class="w-full px-6 py-3 text-center font-bold hover:bg-[hsla(180,66%,49%,50%)] text-white bg-[hsl(180,66%,49%)] rounded-full"
            >Signup</a
          >
        </div>
      </div>
    </nav>

    <section
      id="hero"
      class="relative max-w-5xl mx-auto w-full px-6 flex gap-6 flex-col md:flex-row items-center justify-between pb-36"
    >
      <div class="relative order-1 md:order-2">
        <img
          src={IllustrationWorking.src}
          alt="illustration"
          class="w-[150%] h-auto overflow-clip max-w-[unset] md:h-96 object-left-top"
        />
      </div>
      <!-- <div class="w-full h-full relative "></div> -->
      <div
        class="flex flex-col gap-4 items-center md:items-start order-2 md:order-1"
      >
        <h1
          class="font-bold text-[40px] text-center md:text-left md:text-7xl leading-tight md:leading-[1.15]"
        >
          More than just shorter links
        </h1>
        <h2
          class="text-[hsl(257,7%,63%)] font-medium text-center md:text-left md:font-medium md:text-lg w-11/12"
        >
          Build your brand's recognition and get detailed insights on how your
          links are performing.
        </h2>
        <a
          href="#"
          class="px-9 py-3 text-center font-bold hover:bg-[hsl(180,63%,74%)] text-white bg-[hsl(180,66%,49%)] rounded-full w-max mt-3 transition-colors duration-200"
          >Get Started</a
        >
      </div>
    </section>
    <ShortenIt client:load />

    <section id="statistic" class="relative w-full bg-[hsl(230,25%,95%)]">
      <div
        class="flex flex-col items-center gap-36 w-full max-w-5xl px-6 pt-16 pb-36 mx-auto"
      >
        <div class="flex flex-col gap-6 items-center">
          <h1
            class="font-bold text-3xl text-center md:text-left md:text-5xl tracking-tight"
          >
            Advanced Statistics
          </h1>
          <h2
            class="text-[hsl(257,7%,63%)] text-center text-lg max-w-xl md:text-xl"
          >
            Track how your links are performing across the web with our advanced
            statistics dashboard.
          </h2>
        </div>
        <div class="relative">
          <div
            id="background-divider"
            class="w-2 h-full md:h-2 md:w-full bg-[hsl(180,66%,49%)] absolute top-0 left-1/2 -translate-x-1/2 md:top-1/2 md:left-0 md:translate-x-0 md:-translate-y-1/2"
          >
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-3 gap-24 md:gap-9 md:flex-row items-center"
          >
            <div
              class="rounded-md flex flex-col gap-6 px-6 pt-20 pb-9 bg-white relative md:-translate-y-12"
            >
              <div
                class="absolute top-0 left-1/2 md:left-6 -translate-x-1/2 md:translate-x-0 -translate-y-1/2 size-20 flex items-center justify-center bg-[hsl(257,27%,26%)] rounded-full"
              >
                <img src={IconBrandRecognition.src} alt="icon" />
              </div>
              <h1 class="font-bold text-2xl text-center md:text-left">
                Brand Recognition
              </h1>
              <h2
                class="text-[hsl(257,7%,63%)] text-center md:text-left md:text-sm"
              >
                Boost your brand recognition with each click. Generic links
                don't mean a thing. Branded links help instill confidence in
                your content.
              </h2>
            </div>
            <div
              class="rounded-md flex flex-col gap-6 px-6 pt-20 pb-9 bg-white relative"
            >
              <div
                class="absolute top-0 left-1/2 md:left-6 -translate-x-1/2 md:translate-x-0 -translate-y-1/2 size-20 flex items-center justify-center bg-[hsl(257,27%,26%)] rounded-full"
              >
                <img src={IconDetailedRecords.src} alt="icon" />
              </div>
              <h1 class="font-bold text-2xl text-center md:text-left">
                Detailed Records
              </h1>
              <h2
                class="text-[hsl(257,7%,63%)] text-center md:text-left md:text-sm"
              >
                Gain insights into who is clicking your links. Knowing when and
                where poeple engage with your content helps inform better
                decisions.
              </h2>
            </div>
            <div
              class="rounded-md flex flex-col gap-6 px-6 pt-20 pb-9 bg-white relative md:translate-y-12"
            >
              <div
                class="absolute top-0 left-1/2 md:left-6 -translate-x-1/2 md:translate-x-0 -translate-y-1/2 size-20 flex items-center justify-center bg-[hsl(257,27%,26%)] rounded-full"
              >
                <img src={IconFullyCustomizable.src} alt="icon" />
              </div>
              <h1 class="font-bold text-2xl text-center md:text-left">
                Fully Customizable
              </h1>
              <h2
                class="text-[hsl(257,7%,63%)] text-center md:text-left md:text-sm"
              >
                Improve brand awareness and content discoverability through
                customizable links, supercharging audience engagement.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="boost" class="relative w-full bg-[hsl(257,27%,26%)] py-24">
      <div
        class="mx-auto w-max text-center flex flex-col gap-3 items-center px-6"
      >
        <h1 class="z-10 text-2xl font-bold text-white md:text-4xl">
          Boost your links today
        </h1>
        <a
          href="#"
          class="z-10 px-9 py-3 text-center font-bold hover:bg-[hsl(180,63%,74%)] text-white bg-[hsl(180,66%,49%)] rounded-full w-max mt-3 transition-colors duration-200"
          >Get Started</a
        >
      </div>
      <img
        src={BgBoostMobile.src}
        alt="boost-bg"
        class="w-full h-full absolute top-0 left-0 object-cover md:hidden"
      />
      <img
        src={BgBoostDesktop.src}
        alt="boost-bg"
        class="w-full h-full absolute top-0 left-0 object-cover hidden md:block"
      />
    </section>

    <section
      id="footer"
      class="relative w-full bg-[hsl(260,8%,14%)] text-white"
    >
      <div
        class="w-full max-w-5xl md:justify-between text-sm px-6 py-16 mx-auto flex flex-col gap-16 items-center md:flex-row md:items-start"
      >
        <!-- <img src={Logo.src} alt="logo" class="h-auto w-auto" /> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="121" height="33"
          ><path
            fill="#FFFFFF"
            d="M16.715 7.932c-.068-.09-.306-.26-.714-.51s-.918-.51-1.53-.782-1.281-.51-2.006-.714a8.005 8.005 0 00-2.176-.306c-1.995 0-2.992.669-2.992 2.006 0 .408.107.748.323 1.02.215.272.532.516.952.731.419.215.946.414 1.58.595l1.406.393.805.219c1.156.317 2.198.663 3.128 1.037.929.374 1.717.839 2.363 1.394a5.647 5.647 0 011.496 2.023c.35.793.527 1.745.527 2.856 0 1.36-.255 2.51-.765 3.451-.51.94-1.185 1.7-2.023 2.278-.84.578-1.802.997-2.89 1.258-1.088.26-2.21.391-3.366.391a19.68 19.68 0 01-5.44-.799c-.884-.26-1.74-.572-2.567-.935A14.358 14.358 0 01.53 22.28l2.448-4.862c.09.113.385.329.884.646.498.317 1.116.635 1.853.952.736.317 1.558.6 2.465.85.906.25 1.824.374 2.754.374 1.972 0 2.958-.6 2.958-1.802 0-.453-.148-.827-.442-1.122-.295-.295-.703-.561-1.224-.799a12.455 12.455 0 00-1.504-.56l-1.702-.495-.976-.288c-1.111-.34-2.074-.708-2.89-1.105-.816-.397-1.49-.856-2.023-1.377a5.003 5.003 0 01-1.19-1.802c-.261-.68-.391-1.473-.391-2.38 0-1.27.238-2.391.714-3.366a7.266 7.266 0 011.938-2.465 8.435 8.435 0 012.839-1.513c1.076-.34 2.215-.51 3.417-.51.838 0 1.666.08 2.482.238.816.159 1.598.363 2.346.612.748.25 1.445.533 2.09.85.647.317 1.242.635 1.786.952l-2.448 4.624zM40.139 25h-5.44V14.97c0-1.156-.227-2.006-.68-2.55-.454-.544-1.077-.816-1.87-.816-.318 0-.663.074-1.037.221a4.173 4.173 0 00-1.088.646 5.827 5.827 0 00-.97 1.003 4.4 4.4 0 00-.68 1.292V25h-5.44V.18h5.44v9.962a6.786 6.786 0 012.602-2.465c1.076-.578 2.26-.867 3.553-.867 1.201 0 2.17.21 2.907.629.736.42 1.303.952 1.7 1.598.396.646.663 1.371.799 2.176.136.805.204 1.592.204 2.363V25zm12.34.34c-1.519 0-2.873-.25-4.063-.748-1.19-.499-2.193-1.173-3.01-2.023a8.54 8.54 0 01-1.852-2.958 9.97 9.97 0 01-.63-3.519c0-1.224.21-2.397.63-3.519a8.54 8.54 0 011.853-2.958c.816-.85 1.819-1.53 3.009-2.04s2.544-.765 4.063-.765c1.519 0 2.867.255 4.046.765 1.179.51 2.176 1.19 2.992 2.04a8.754 8.754 0 011.87 2.958 9.736 9.736 0 01.646 3.519 9.97 9.97 0 01-.63 3.519 8.54 8.54 0 01-1.852 2.958c-.816.85-1.82 1.524-3.01 2.023-1.19.499-2.543.748-4.062.748zM48.5 16.092c0 1.405.374 2.533 1.122 3.383.748.85 1.7 1.275 2.856 1.275a3.59 3.59 0 001.564-.34c.476-.227.89-.544 1.24-.952a4.57 4.57 0 00.834-1.479 5.632 5.632 0 00.306-1.887c0-1.405-.374-2.533-1.122-3.383-.748-.85-1.689-1.275-2.822-1.275a3.702 3.702 0 00-2.84 1.292 4.57 4.57 0 00-.832 1.479 5.632 5.632 0 00-.306 1.887zm27.776-4.284c-1.315.023-2.505.238-3.57.646-1.065.408-1.836 1.02-2.312 1.836V25h-5.44V7.15h4.998v3.604c.612-1.201 1.4-2.142 2.363-2.822.963-.68 1.989-1.031 3.077-1.054h.544c.113 0 .227.011.34.034v4.896zm14.074 12.24a21.71 21.71 0 01-2.567.884c-.963.272-1.932.408-2.907.408-.68 0-1.32-.085-1.92-.255a4.286 4.286 0 01-1.582-.816c-.453-.374-.81-.867-1.07-1.479-.262-.612-.392-1.349-.392-2.21v-9.316h-2.278V7.15h2.278V1.472h5.44V7.15h3.638v4.114h-3.638v7.446c0 .59.147 1.014.442 1.275.295.26.669.391 1.122.391.408 0 .827-.068 1.258-.204.43-.136.805-.283 1.122-.442l1.054 4.318zM92.627.18h5.44v18.462c0 1.36.578 2.04 1.734 2.04.272 0 .572-.04.901-.119.329-.08.63-.198.901-.357l.714 4.08c-.68.317-1.462.567-2.346.748-.884.181-1.711.272-2.482.272-1.564 0-2.765-.408-3.604-1.224-.839-.816-1.258-1.995-1.258-3.536V.18zm11.456 27.506c.454.159.879.272 1.275.34a6.4 6.4 0 001.071.102c.658 0 1.168-.227 1.53-.68.363-.453.692-1.27.986-2.448l-6.8-17.85h5.61l4.148 13.192 3.57-13.192h5.1l-6.8 20.74a7.106 7.106 0 01-2.55 3.587c-1.224.918-2.674 1.377-4.352 1.377a8.17 8.17 0 01-1.377-.119 7.516 7.516 0 01-1.41-.391v-4.658z"
          ></path></svg
        >
        <div class="flex flex-col md:flex-row gap-16 md:gap-24">
          <div class="flex flex-col items-center md:items-start gap-6">
            <h3 class="font-bold">Features</h3>
            <div class="flex flex-col items-center md:items-start gap-3">
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Link Shortening</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Branded Links</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Analytics</a
              >
            </div>
          </div>
          <div class="flex flex-col items-center md:items-start gap-6">
            <h3 class="font-bold">Resources</h3>
            <div class="flex flex-col items-center md:items-start gap-3">
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Blog</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Developers</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Support</a
              >
            </div>
          </div>
          <div class="flex flex-col items-center md:items-start gap-6">
            <h3 class="font-bold">Company</h3>
            <div class="flex flex-col items-center md:items-start gap-3">
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >About</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Our Team</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Careers</a
              >
              <a
                href="#"
                class="text-[hsl(0,0%,75%)] hover:text-white transition-colors duration-200"
                >Contact</a
              >
            </div>
          </div>
          <div class="flex items-center gap-3">
            <a href="#">
              <img src={IconFacebook.src} alt="facebook" class="h-6 w-6" />
            </a>
            <a href="#">
              <img src={IconTwitter.src} alt="twitter" class="h-6 w-6" />
            </a>
            <a href="#">
              <img src={IconPinterest.src} alt="pinterest" class="h-6 w-6" />
            </a>
            <a href="#">
              <img src={IconInstagram.src} alt="instagram" class="h-6 w-6" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</ProjectLayout>

<script>
  const mobileIconMenu = document.getElementById("icon-menu");

  mobileIconMenu?.addEventListener("click", () => {
    const mobileNavigation = document.getElementById("mobile-navigation");

    if (mobileNavigation?.classList.contains("opacity-0")) {
      mobileNavigation.classList.remove("opacity-0");
      mobileNavigation.classList.remove("-z-50");
      mobileNavigation.classList.add("opacity-100");
      mobileNavigation.classList.add("z-10");
      return;
    }

    if (mobileNavigation?.classList.contains("opacity-100")) {
      mobileNavigation.classList.remove("opacity-100");
      mobileNavigation.classList.remove("z-10");
      mobileNavigation.classList.add("opacity-0");
      mobileNavigation.classList.add("-z-50");
      return;
    }
  });
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  .font-poppins {
    font-family: "Poppins", serif !important;
  }
</style>
